



.datepicker-date-display {
    background-color: antiquewhite;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: rgb( 235, 142, 29)
}

button.datepicker-day-button {
    /* color: rgb( 235, 142, 29); */
}

.timepicker-digital-display {
    background-color: antiquewhite;
}

.timepicker-dial, .timepicker-hours, .timepicker-dial-out {
    color: rgb( 235, 142, 29);
}

button.timepicker-day-button {
    /* color: rgb( 235, 142, 29); */
}
